<h3 class="subtitulo">Juegos</h3>
<div class="contenedora">
     <span><button mat-button  [routerLink]="['./anagrama']">
        <mat-icon>videogame_asset</mat-icon>
        <span>Anagrama</span>
    </button></span>
    <span class="espacio"></span>
    <span><button mat-button  [routerLink]="['./tateti']">
        <mat-icon>games</mat-icon>
        <span>Tateti</span>
    </button>
    </span>
    <span class="espacio"></span>
    <span><button mat-button  [routerLink]="['./mapatesoro']">
        <mat-icon>my_location</mat-icon>
        <span>Mapa del Tesoro</span>
    </button>
    </span>
    

      

<router-outlet></router-outlet>
</div>