


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container" ><!-- // -->



  <div class="panel-heading" style="text-align: center">
  <h3> Anagrama de animales</h3>
  </div>
  <div class="panel-body" style="text-align: center">

  <h1>{{palabraAJugar}}</h1>

  <input type="text" class="form-control" name="unaPalabra" [(ngModel)]="unaPalabra"><br><br>

 <div class="btn-group btn-group-justified">
   <div class="btn-group">
  <button type="button" name="Jugar" (click)="jugar()" value="JUGAR" class="btn btn-success" >Nueva Palabra</button>
   </div>
<div class="btn-group">
  <button type="button" name="Verificar" (click)="verificar(unaPalabra)" value="VERIFICAR" class="btn btn-primary">Verificar</button>
</div>
<div class="btn-group">
  <button type="button" name="Rendicion" (click)="Rendirse()" value="ME RINDO" class="btn btn-danger">Solucion</button>
</div>
</div>

  <div class="contador">
    <h4>Intentos: {{contador}} / 3</h4>
  </div>

<div>
  <strong>{{resultado}} </strong> 
</div>

<div class="gano">
  <h3> </h3>
</div>




</div>
</div>
