.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .errormje{
    color: red;
    font-size: 12px;
  }
  .example-card{
    min-width: 300px;;
    width: 100%;
  }
