<mat-toolbar color="primary" class="toolbar"> 
    <mat-toolbar-row>
      <span>└</span><mat-icon>videogame_asset</mat-icon> 
      <span class="titulo"> &nbsp;TP Sala de Juegos  &nbsp; </span>  
      <mat-icon>videogame_asset</mat-icon><span>┐</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [routerLink]="['home']"><span>Menu</span> </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['detalle']">
            <mat-icon>details</mat-icon>
            <span>Detalles</span>
          </button>
          <button mat-menu-item [routerLink]="['usuarios']">
            <mat-icon>person_add_disabled</mat-icon>
            <span>Usuarios</span>
          </button>
          <button mat-menu-item [routerLink]="['home']">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>

        <button mat-menu-item [matMenuTriggerFor]="juegos" [routerLink]="['juegos']">Juegos</button>
        <mat-menu #juegos="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="['juegos/anagrama']">
            <mat-icon>videogame_asset</mat-icon>
            <span>Anagrama</span>
          </button>
          <button mat-menu-item [routerLink]="['juegos/tateti']">
            <mat-icon>games</mat-icon>
            <span>Tateti</span>
          </button>
          <button mat-menu-item [routerLink]="['juegos/mapatesoro']">
            <mat-icon>my_location</mat-icon>
            <span>Mapa del tesoro</span>
          </button>
      </mat-menu>
          
    </mat-menu>
    

    </mat-toolbar-row>
  </mat-toolbar>
<div class="contenedor" cdk-scrollable>
  <router-outlet></router-outlet>
</div>

