<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>TP Sala de Juegos</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">videogame_asset</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">games</mat-icon>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['detalle']">
            <mat-icon>details</mat-icon>
            <span>Detalles</span>
          </button>
          <button mat-menu-item [routerLink]="['usuarios']">
            <mat-icon>person_add_disabled</mat-icon>
            <span>Usuarios</span>
          </button>

          <button mat-menu-item [routerLink]="['home']">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>

          <button mat-menu-item [routerLink]="['juegos']">
            <mat-icon>videogame_asset</mat-icon>
            <span>Usuarios</span>
          </button>
        </mat-menu>
    
    </mat-toolbar-row>
  </mat-toolbar>
<div class="contenedor" cdk-scrollable>
  <router-outlet></router-outlet>
</div>

